nav#nav-bar {
  position: fixed;
  z-index: 100;
  height: 80px;
  width: 100%;
  top: -5px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  padding-left: 10px;
  float: left;
  line-height: 250%;
}

#nav-bar .compose {
  text-align: center;
  position: relative;
  float: right;
  background-color: linen;
  top: 1.5em;
  padding: 0.2em;
  border: 0.25em solid;
}

/*https://css-tricks.com/overriding-default-button-styles/*/
#nav-bar .compose:hover,
#nav-bar .compose:focus {
    background: #0053ba;
    color: linen;
}

#nav-bar .compose:focus {
    color: linen;
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#nav-bar .compose i {
  padding-right: 0.5em;
}